* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    padding: 50px 0 37px 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

.menu a {
    font-size: 18px;
    color: #8C8A8A;
    margin: 10px 15px;
    display: inline-block;
}

header .content {
    width: 100%;
    margin-bottom: 30px;
}

main .content {
    background: #F0F0F0;
    padding: 50px 95px 51px 40px;
    max-width: 730px;
    width: 100%;
    margin-bottom: 30px;
}

main h2 {
    font-size: 20px;
    color: #4581B7;
    margin-bottom: 25px;
}

main p {
    font-size: 16px;
    color: #808080;
    line-height: 27px;
}

.wrapper {
    background: #F0F0F0;
    padding: 50px 24px 51px 40px;
    max-width: 350px;
    width: 100%;
    margin-bottom: 30px;
}

.wrapper a {
    display: block;
    color: #808080;
    font-size: 16;
    line-height: 27px;
}

.wrapper .phone {
    margin-top: 27px;
    margin-bottom: 54px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .content {
    background: #F0F0F0;
    padding: 15px 40px 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    flex-wrap: wrap;
}

footer p {
    color: #808080;
    font-size: 16px;
    margin-bottom: 11px;
}

footer a {
    color: #808080;
    font-size: 25px;
    font-weight: 700;
}